*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
}

:where(
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figure,
    blockquote,
    dl,
    dd
) {
    margin: 0;
}

html {
    text-size-adjust: none;

    &:focus-within {
        scroll-behavior: smooth;
    }
}

/* Allow percentage-based heights */
html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

small {
    font-size: 80%;
}

:where(form) {
    margin: 0;
}

a {
    color: currentColor;
}