.training__main {
    background: var(--color--green);
}

.training__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 0;
}

.training__container {
    border: 1px solid var(--color--green);
    background: var(--color--white);
    border-radius: 24px;
    position: relative;
    padding: var(--space--xl);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space--xxs);
}

.training__container .line {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    width: 100%;
    margin-block: var(--space--xs);
    transform: none;
    height: 8px;
    opacity: .6;
}

.training__container h3 {
    margin-block: var(--space--xl) var(--space--m);
}

.training__list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    display: grid;
    gap: var(--space--l);
    padding: 0;
    list-style: none;
    margin: 0;
}

.training__link {
    /* aspect-ratio: 1; */
    display: flex;
    padding: var(--space--s);
    border-radius: 5px;
    border: 2px solid #93e892;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background: var(--color--green);
    transition: all .3s linear;
}

.training__link:hover {
    background: #dff9de;
}